
<header class="w-full absolute z-10 top-0">
  <nav class="mx-auto flex items-center justify-between p-4 sm:p-6 lg:px-8" aria-label="Global">
    
    <div class="flex lg:flex-1">
      <a href="index.html" class="p-1 sm:p-1.5 sm:mt-4" x-cloak x-data>
        <span class="sr-only">Guro Design</span>
        <div class="overflow-hidden"><img src="assets/images/header-logo-guro.svg" alt="TD Logo Mark" class="h-[24px] sm:h-8 mb-[1px]" x-cloak x-intersect="$el.classList.add('maskUp')"></div>
        <div class="overflow-hidden"><img src="assets/images/header-logo-design.svg" alt="TD Logo Mark" class="h-[24px] sm:h-8 mb-[3px]" x-cloak x-intersect="$el.classList.add('maskUp')"></div>
        <div class="overflow-hidden"><img src="assets/images/header-logo-text.svg" alt="TD Logo Mark" class="h-[6px] sm:h-[8px] " x-cloak x-intersect="$el.classList.add('maskUp')"></div>
      </a>
    </div>


    <div class="hidden lg:flex lg:gap-x-12">

      <div class="relative text-[#3d3d3d]" x-data="{ open: false }"> 
        <button  @mouseover="open = true" 
                 @mouseleave = "open = false" 
                 type="button" 
                 class="flex items-center gap-x-1 text-sm/6 font-semibold overflow-hidden" 
                 aria-expanded="false">
          <p class="" x-intersect="$el.classList.add('maskUp')">Product</p>
        </button>

        <div class="absolute left-1/2 z-10 mt-3 w-screen max-w-[200px] -translate-x-1/2 overflow-hidden rounded-lg bg-paper shadow-lg ring-1 ring-gray-900/5" 
            x-show="open"
            @mouseenter = "open = true"
            @mouseleave = "open = false"
            x-transition:enter="ease-out duration-200"
            x-transition:enter-start="opacity-0 translate-y-1"
            x-transition:enter-end="opacity-100 translate-y-0"
            x-transition:leave="ease-in duration-150"
            x-transition:leave-start="opacity-100 translate-y-0"
            x-transition:leave-end="opacity-0 translate-y-1"
            x-cloak
            >
          <div class="p-4">
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="amg.html" class="block">
                  Audio Media Grading
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="caboenvivo.html" class="block">
                  Cabo en Vivo
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="gs-redesign.html" class="block">
                  GameSpot
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="laneone.html" class="block">
                  LaneOne
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="mentore.html" class="block">
                  Mentore
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="numnums.html" class="block">
                  numnums
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="onvedeo.html" class="block">
                  Onvedeo
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="pwcc.html" class="block">
                  Pre-war Card Collector
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="tapdistrict.html" class="block">
                  Tap District
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="xoom.html" class="block">
                  Xoom
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="relative text-[#3d3d3d]" x-data="{ open: false }"> 
        <button  @mouseover="open = true" 
                 @mouseleave = "open = false" 
                 type="button" 
                 class="flex items-center gap-x-1 text-sm/6 font-semibold overflow-hidden" 
                 aria-expanded="false">
                 <p class="" x-intersect="$el.classList.add('maskUp2')">Brand</p>
        </button>

        <div class="absolute left-1/2 z-10 mt-3 w-screen max-w-[200px] -translate-x-1/2 overflow-hidden rounded-lg bg-paper shadow-lg ring-1 ring-gray-900/5" 
            x-show="open"
            @mouseenter = "open = true"
            @mouseleave = "open = false"
            x-transition:enter="ease-out duration-200"
            x-transition:enter-start="opacity-0 translate-y-1"
            x-transition:enter-end="opacity-100 translate-y-0"
            x-transition:leave="ease-in duration-150"
            x-transition:leave-start="opacity-100 translate-y-0"
            x-transition:leave-end="opacity-0 translate-y-1"
            x-cloak>
          <div class="p-4">
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="amg.html" class="block">
                  Audio Media Grading
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="beachboys.html" class="block">
                  Beach Boys
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="gs-redesign.html" class="block">
                  GameSpot
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="kezar.html" class="block">
                  Kezar Life Sciences
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="laneone.html" class="block">
                  LaneOne
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="numnums.html" class="block">
                  numnums
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="onvedeo.html" class="block">
                  Onvedeo
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>

            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="pwcc.html" class="block">
                  Pre-war Card Collector
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="seewelltolearn.html" class="block">
                  See Well to Learn
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="surveymonkey.html" class="block">
                  SurveyMonkey
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="tapdistrict.html" class="block">
                  Tap District
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="relative text-[#3d3d3d]" x-data="{ open: false }"> 
        <button  @mouseover="open = true" @mouseleave = "open = false" type="button" class="flex items-center gap-x-1 text-sm/6 font-semibold overflow-hidden" aria-expanded="false">
          <p class="" x-intersect="$el.classList.add('maskUp3')">Graphic</p>
        </button>

        <div class="absolute left-1/2 z-10 mt-3 w-screen max-w-[200px] -translate-x-1/2 overflow-hidden rounded-lg bg-paper shadow-lg ring-1 ring-gray-900/5" 
            x-show="open"
            @mouseenter = "open = true"
            @mouseleave = "open = false"
            x-transition:enter="ease-out duration-200"
            x-transition:enter-start="opacity-0 translate-y-1"
            x-transition:enter-end="opacity-100 translate-y-0"
            x-transition:leave="ease-in duration-150"
            x-transition:leave-start="opacity-100 translate-y-0"
            x-transition:leave-end="opacity-0 translate-y-1"
            x-cloak>
          <div class="p-4">
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="editorial.html" class="block">
                  Editorial Graphics
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="numnums.html" class="block">
                  numnums
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="onvedeo.html" class="block">
                  Onvedeo
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="seewelltolearn.html" class="block">
                  See Well to Learn
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="relative text-[#3d3d3d]" x-data="{ open: false }"> 
        <button  @mouseover="open = true" @mouseleave = "open = false" type="button" class="flex items-center gap-x-1 text-sm/6 font-semibold overflow-hidden" aria-expanded="false">
          <p class="" x-intersect="$el.classList.add('maskUp4')">Code</p>
        </button>

        <div class="absolute left-1/2 z-10 mt-3 w-screen max-w-[200px] -translate-x-1/2 overflow-hidden rounded-lg bg-paper shadow-lg ring-1 ring-gray-900/5" 
            x-show="open"
            @mouseenter = "open = true"
            @mouseleave = "open = false"
            x-transition:enter="ease-out duration-200"
            x-transition:enter-start="opacity-0 translate-y-1"
            x-transition:enter-end="opacity-100 translate-y-0"
            x-transition:leave="ease-in duration-150"
            x-transition:leave-start="opacity-100 translate-y-0"
            x-transition:leave-end="opacity-0 translate-y-1"
            x-cloak>
          <div class="p-4">
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="amg.html" class="block">
                  Audio Media Grading
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="caboenvivo.html" class="block">
                  Cabo en Vivo
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="laneone.html" class="block">
                  LaneOne
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="numnums.html" class="block">
                  numnums
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="onvedeo.html" class="block">
                  Onvedeo
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="pwcc.html" class="block">
                  Pre-war Card Collector
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div class="group relative flex items-center gap-x-6 rounded-lg p-1 text-sm hover:bg-gray-50">
              <div class="flex-auto">
                <a href="seewelltolearn.html" class="block">
                  See Well to Learn
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    
     <div class="flex flex-1 justify-end relative" x-data>
      <div class="inline-block sm:pr-6 -mt-6 sm:-mt-8 slide-in-top"><img src="assets/images/open-sign.svg" alt="" class="h-[90px] sm:h-32 open-sign"></div>
      <a href="contact" class="contact-link transition-all duration-700 flex flex-nowrap ">
        {% raw %}
        <img id="random-image" src="" alt="Random Image" class="h-20 sm:h-24 sm:mt-1 inline-block -mr-3 z-10 relative" x-cloak x-intersect="$el.classList.add('scaleBounceDelay')">
        <script>
            (function() {
              const images = [
                  "assets/images/header-demon.svg",
                  "assets/images/header-hairy.svg",
                  "assets/images/header-handsome.svg",
                  "assets/images/header-mech.svg",
                  "assets/images/header-nowink.svg",
                  "assets/images/header-poop.svg",
                  "assets/images/header-slime.svg",
                  "assets/images/header-wolf.svg",
                  "assets/images/header-yao.svg",
                  "assets/images/header-bunny.svg",
              ];
              const randomIndex = Math.floor(Math.random() * images.length);
              const randomImage = images[randomIndex];
              document.getElementById("random-image").src = randomImage;
          })();
        </script>
        {% endraw %}
        <div class="inline-block text-center uppercase mt-1 relative w-20 pt-3 sm:pt-5" x-intersect="$el.classList.add('swing-in-left-fwd-delay')">
          <img src="assets/images/contact-bubble.svg" alt="TD Logo Mark" class="absolute mt-[2px]">
          <span class="relative z-10 text-[#3d3d3d] text-[12px] font-bold heavy block pt-[10px] sm:pt-[5px] mt-[2px] sm:mt-[4px]">Contact</span>
        </div>
      </a>
    </div>
  </nav>
</header>