<svg xmlns="http://www.w3.org/2000/svg" class="svg-filters hidden">
  <filter id="duotone">
        <feColorMatrix type="matrix" values=".33 .33 .33 0 0
                .33 .33 .33 0 0
                .33 .33 .33 0 0
                 0   0   0  1 0">
        </feColorMatrix>
        <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues=".996078431  .984313725"></feFuncR>
            <feFuncG type="table" tableValues=".125490196  .941176471"></feFuncG>
            <feFuncB type="table" tableValues=".552941176  .478431373"></feFuncB>
        </feComponentTransfer>
  </filter>

  <filter id="duotone-eggplant">
        <feColorMatrix type="matrix" values=".33 .33 .33 0 0
                .33 .33 .33 0 0
                .33 .33 .33 0 0
                 0   0   0  1 0">
        </feColorMatrix>
        <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues=".10588235  .70980392"></feFuncR>
            <feFuncG type="table" tableValues=".0627451  .54901961"></feFuncG>
            <feFuncB type="table" tableValues=".18431373  1"></feFuncB>
        </feComponentTransfer>
  </filter>

    <filter id="duotone-eggplant-dark">
        <feColorMatrix type="matrix" values=".33 .33 .33 0 0
                .33 .33 .33 0 0
                .33 .33 .33 0 0
                 0   0   0  1 0">
        </feColorMatrix>
        <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues=".10588235  .70980392"></feFuncR>
            <feFuncG type="table" tableValues=".0627451  .54901961"></feFuncG>
            <feFuncB type="table" tableValues=".18431373  1"></feFuncB>
        </feComponentTransfer>
  </filter>

  <filter id="duotone-seafoam">
      <feColorMatrix type="matrix" values=".33 .33 .33 0 0
              .33 .33 .33 0 0
              .33 .33 .33 0 0
                0   0   0  1 0">
      </feColorMatrix>
      <feComponentTransfer color-interpolation-filters="sRGB">
          <feFuncR type="table" tableValues=".04313725 .30980392"></feFuncR>
          <feFuncG type="table" tableValues=".22745098 .82745098"></feFuncG>
          <feFuncB type="table" tableValues=".18431373 .69803922"></feFuncB>
      </feComponentTransfer>
  </filter>

<filter id="duotone-seafoam-dark">
      <feColorMatrix type="matrix" values=".33 .33 .33 0 0
              .33 .33 .33 0 0
              .33 .33 .33 0 0
                0   0   0  1 0">
      </feColorMatrix>
      <feComponentTransfer color-interpolation-filters="sRGB">
          <feFuncR type="table" tableValues="0 .30980392"></feFuncR>
          <feFuncG type="table" tableValues=".09156863 .82745098"></feFuncG>
          <feFuncB type="table" tableValues=".05803922 .69803922"></feFuncB>
      </feComponentTransfer>
  </filter>

  <filter id="duotone-deepsea">
      <feColorMatrix type="matrix" values=".33 .33 .33 0 0
              .33 .33 .33 0 0
              .33 .33 .33 0 0
                0   0   0  1 0">
      </feColorMatrix>
      <feComponentTransfer color-interpolation-filters="sRGB">
          <feFuncR type="table" tableValues=".12156863 0"></feFuncR>
          <feFuncG type="table" tableValues=".03529412 .8"></feFuncG>
          <feFuncB type="table" tableValues=".31764706 1"></feFuncB>
      </feComponentTransfer>
  </filter>

  <filter id="duotone-swimming">
    <feColorMatrix type="matrix" values=".33 .33 .33 0 0
            .33 .33 .33 0 0
            .33 .33 .33 0 0
              0   0   0  1 0">
    </feColorMatrix>
    <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues=" 0 .31764706"></feFuncR>
        <feFuncG type="table" tableValues=".18039216 .84705882"></feFuncG>
        <feFuncB type="table" tableValues=".29411765 .86666667"></feFuncB>
    </feComponentTransfer>
  </filter>

  <filter id="duotone-peach">
    <feColorMatrix type="matrix" values=".33 .33 .33 0 0
            .33 .33 .33 0 0
            .33 .33 .33 0 0
              0   0   0  1 0">
    </feColorMatrix>
    <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues=" 0.54509804 1"></feFuncR>
        <feFuncG type="table" tableValues="0 .50196078"></feFuncG>
        <feFuncB type="table" tableValues="0 .25882353"></feFuncB>
    </feComponentTransfer>
  </filter>

  <filter id="duotone-keylime">
    <feColorMatrix type="matrix" values=".33 .33 .33 0 0
            .33 .33 .33 0 0
            .33 .33 .33 0 0
              0   0   0  1 0">
    </feColorMatrix>
    <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues=".27058824 .74117647"></feFuncR>
        <feFuncG type="table" tableValues=".40392157 .85882353"></feFuncG>
        <feFuncB type="table" tableValues=".17647059 .4627451"></feFuncB>
    </feComponentTransfer>
  </filter>

  <filter id="duotone-sand">
    <feColorMatrix type="matrix" values=".33 .33 .33 0 0
            .33 .33 .33 0 0
            .33 .33 .33 0 0
              0   0   0  1 0">
    </feColorMatrix>
    <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues=".47058824 1"></feFuncR>
        <feFuncG type="table" tableValues=".15686275 .72941176"></feFuncG>
        <feFuncB type="table" tableValues="0 0"></feFuncB>
    </feComponentTransfer>
  </filter>

<filter id="duotone-mushroom">
    <feColorMatrix type="matrix" values=".33 .33 .33 0 0
            .33 .33 .33 0 0
            .33 .33 .33 0 0
              0   0   0  1 0">
    </feColorMatrix>
    <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues=".25490196 .71764706"></feFuncR>
        <feFuncG type="table" tableValues=".23137255 .65098039"></feFuncG>
        <feFuncB type="table" tableValues=".21568627 .63137255"></feFuncB>
    </feComponentTransfer>
  </filter>

  <filter id="duotone-rose">
    <feColorMatrix type="matrix" values=".33 .33 .33 0 0
            .33 .33 .33 0 0
            .33 .33 .33 0 0
              0   0   0  1 0">
    </feColorMatrix>
    <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues=".60411765 .85882353"></feFuncR>
        <feFuncG type="table" tableValues=".20980392 .51372549"></feFuncG>
        <feFuncB type="table" tableValues=".3627451 .78823529"></feFuncB>
    </feComponentTransfer>
  </filter>

  <filter id="duotone-lipstick">
    <feColorMatrix type="matrix" values=".33 .33 .33 0 0
            .33 .33 .33 0 0
            .33 .33 .33 0 0
              0   0   0  1 0">
    </feColorMatrix>
    <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues=".72941176 1"></feFuncR>
        <feFuncG type="table" tableValues=".09411765 .46666667"></feFuncG>
        <feFuncB type="table" tableValues=".09411765 .46666667"></feFuncB>
    </feComponentTransfer>
  </filter>

  <filter id="duotone-redorange">
    <feColorMatrix type="matrix" values=".33 .33 .33 0 0
            .33 .33 .33 0 0
            .33 .33 .33 0 0
              0   0   0  1 0">
    </feColorMatrix>
    <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues=" 0.54509804 1"></feFuncR>
        <feFuncG type="table" tableValues="0 .70196078"></feFuncG>
        <feFuncB type="table" tableValues="0 .45882353"></feFuncB>
    </feComponentTransfer>
  </filter>

  <filter id="duotone-gray">
    <feColorMatrix type="matrix" values=".33 .33 .33 0 0
            .33 .33 .33 0 0
            .33 .33 .33 0 0
              0   0   0  1 0">
    </feColorMatrix>
    <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues=".1 .6"></feFuncR>
        <feFuncG type="table" tableValues=".1 .6"></feFuncG>
        <feFuncB type="table" tableValues=".1 .7"></feFuncB>
    </feComponentTransfer>
  </filter>

  <filter id="duotone-darkgray">
    <feColorMatrix type="matrix" values=".33 .33 .33 0 0
            .33 .33 .33 0 0
            .33 .33 .33 0 0
              0   0   0  1 0">
    </feColorMatrix>
    <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0 .5"></feFuncR>
        <feFuncG type="table" tableValues="0 .5"></feFuncG>
        <feFuncB type="table" tableValues="0 .55"></feFuncB>
    </feComponentTransfer>
  </filter>

  <filter id="duotone-oatmilk">
    <feColorMatrix type="matrix" values=".33 .33 .33 0 0
            .33 .33 .33 0 0
            .33 .33 .33 0 0
              0   0   0  1 0">
    </feColorMatrix>
    <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues=".34509804 .9"></feFuncR>
        <feFuncG type="table" tableValues=".28235294 .88039216"></feFuncG>
        <feFuncB type="table" tableValues=".24313725 .8372549"></feFuncB>
    </feComponentTransfer>
  </filter>

  <filter id="duotone-bluish">
    <feColorMatrix type="matrix" values=".33 .33 .33 0 0
            .33 .33 .33 0 0
            .33 .33 .33 0 0
              0   0   0  1 0">
    </feColorMatrix>
    <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues=".22156863 0"></feFuncR>
        <feFuncG type="table" tableValues=".13529412 .6"></feFuncG>
        <feFuncB type="table" tableValues=".31764706 .9"></feFuncB>
    </feComponentTransfer>
  </filter>
</svg>
